<div id="nav-buttons">
  <button id="step1" (click)="onStepNavigate(1)">
    Step 1
  </button>
  <button id="step2" (click)="onStepNavigate(2)" [disabled]="!stepService.stepOneValidity()">
    Step 2
  </button>
  <button id="step3" (click)="onStepNavigate(3)" [disabled]="!(stepService.stepOneValidity() && stepService.stepTwoValidity())">
    Step 3
  </button>
</div>
