<h1>Step 3: Summary</h1>
<h3>Your Tesla {{ summary().carModel }}</h3>
<div id="summary">
  <div class="elements">
    <span class="left"><b>{{ summary().config.description }}</b></span>
    <span class="right">{{ summary().config.price | currency:'USD' }}</span>
  </div>
  <div class="elements">
    <span class="left">Range: {{ summary().config.range }} miles - Max speed: {{ summary().config.speed }}</span>
  </div>
  <div class="elements">
    <span class="left"><b>{{ summary().color.description }}</b></span>
    <span class="right">{{ summary().color.price | currency:'USD' }}</span>
  </div>
  @if (stepService.shoppingCart.towHitch) {
    <div class="elements">
      <span class="left"><b>Tow Hitch Package</b></span>
      <span class="right">{{ extraOptionCost() | currency:'USD' }}</span>
    </div>
  }
  @if (stepService.shoppingCart.yoke) {
    <div class="elements">
      <span class="left"><b>Yoke Steering Wheel</b></span>
      <span class="right">{{ extraOptionCost() | currency:'USD' }}</span>
    </div>
  }
  <br>
  <hr>
  <div class="elements">
    <span class="left"><b>TOTAL COST</b></span>
    <span class="right">{{ summary().totalCost | currency:'USD' }}</span>
  </div>
  <br>
  <hr>
</div>
<img [src]="stepService.getCarImagePath()" alt="Model image">
