#summary {
  width: 30%;
  margin-left: 1rem;

  .elements {
    clear: both;

    span {
      padding-bottom: .3rem;
    }

    .left {
      float: left;
    }

    .right {
      float: right;
    }
  }
}
