<h1>Step 1: Choose your Model and color</h1>

<form [formGroup]="stepOneForm">
  <label for="modelSelect">Model:</label>
  <select id="modelSelect" formControlName="modelSelect" (change)="onModelSelected()">
    <option value="" selected>Choose...</option>
    @for(model of models(); track $index) {
      <option [value]="model.code">
        {{ model.description }}
      </option>
    }
  </select>

  <ng-container *ngIf="stepOneForm.get('modelSelect')?.value">
    <label for="colorSelect">Color:</label>
    <select id="colorSelect" formControlName="colorSelect">
      @for(color of colors(); track $index) {
        <option [value]="color.code">
          {{ color.description }}
        </option>
      }
    </select>
    <img [src]="stepService.getCarImagePath()" alt="Model image">
  </ng-container>
</form>
