<h1>Step 2: Select your config and options</h1>

<form [formGroup]="stepTwoForm">
  <label for="configSelect">Config:</label>
  <select id="configSelect" formControlName="configSelect" (change)="getConfigMetrics()">
    <option value="" selected>Choose...</option>
    @for(config of options?.configs; track $index) {
      <option [value]="config.id">
        {{ config.description }}
      </option>
    }
  </select>

  @if (stepTwoForm.get('configSelect')?.value) {
    <p>Range: {{ configMetrics.range }} miles - Max speed: {{ configMetrics.speed }} -
      Cost: {{ configMetrics.price | currency:'USD' }}</p>
  }

  @if (options?.towHitch) {
    <p>Tow hitch? <input type="checkbox" id="includeTow" formControlName="includeTow"></p>
  }

  @if (options?.yoke) {
    <p>Yoke steering wheel? <input type="checkbox" id="includeYoke" formControlName="includeYoke"></p>
  }
</form>
